.list-group {
  display: none;
}

.show {
  display: block;
  /* transition: all 3s; */
}

.black-bg {
  visibility: hidden;

  /* display: none; */
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  transition: all 3s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}
